.my-jumbo {
  background: url(/images/homes-for-sale.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
padding-top: 200px;
}
.jumbotron {
	height: 500px;
padding-top: 200px;
}
.container {
	position: relative;
}
.mls-search {
    /*position: absolute;*/
    width: 100%;
    border-radius: 5px;
    margin-right: auto;
  margin-left: auto;
  /*top: 50%;*/
  min-height: 125px;
  /*margin-top: -50px;*/
background: rgba(0, 0, 0, 0.6);
padding: 10px;
color: #fff;
}

/*@media screen and (min-width: 768px){
.jumbotron {
    padding-top: 200px;
}
}*/

.form-address {
	width: 100%;
}
.form-price {
	/*display: inline-block;*/
}